html{
	overflow-y: scroll;
	padding: 0;
	margin: 0;
	border: 0;
	max-width: initial;
}
body{
	margin: 0 auto;
	font-family: Source Sans Pro;
	background-image: url('../img/sos.png');
	background-repeat: repeat;
	font-size: 16px;
	color: #2E2E2C
}
@font-face {
    font-family: 'Axure Handwriting';
    src: url('..fonts/AxureHandwriting.eot') + "?#iefix") format('embedded-opentype'),
         url('..fonts/AxureHandwriting.woff') format('woff'), 
         url('..fonts/AxureHandwriting.ttf') format('truetype'),
         url('..fonts/AxureHandwriting.svg') + "#AxureHandwriting") format('svg');
    font-style: normal;
}

@font-face {
  font-family: 'Graublau Web';
  src: url('GraublauWeb.eot');
  src: local('Graublau Web Regular'), local('Graublau Web'),
         url('GraublauWeb.otf') format('opentype');
}

@font-face {
  font-family: 'Graublau Web';
  src: url('GraublauWeb.eot');
  src: local('?'),
         url('GraublauWeb.otf') format('opentype');
}

.main-body{
	padding-top: 50px
}
.header-logo{
    width: 60px;
    height: auto;
    margin-left: 15px;
    /* margin-bottom: -13px; */
}
.navbar-default{
	border-radius: 0
}
.navbar-brand{
	font-family: 'Axure Handwriting';
	float: none;
	margin-left: -10px;
	font-size: 24px;
}
.profile-pic{
	width: 20px;
	height: 20px
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #2E2E2C;
  text-decoration: none;
  background-color: #CFCAC6;
}
h1, h2 ,h3 ,h4, h5, h6{
	font-family: Oxygen;
	/*color: #C04405;*/
	color: #FF6B34;
}
.side-nav{
	/*position: fixed*/
}
.nav-pills > li {
  float: left
}
.nav-pills > li > a{
	color: #191918;
}
.nav-pills > li > a:hover{
  color: #2E2E2C;
  background-color: #CFCAC6
}
.nav-pills > li.active > a{
	background-color: #5B5B5A
}
.nav-pills > li.active > a:hover{
  color: #fff;
  background-color: #2E2E2C
}
.nav-stacked > li {
  float: none
}
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0
}
a.press {
	text-decoration: none;
	color: #FFF;
	padding: 10px;
	position: relative;
	/*margin: 10px 15px 10px 0;*/
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			
	border-radius: 5px;

	-webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.3);
	   -moz-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.3);
			box-shadow: inset 0 -3px 0 rgba(0,0,0,0.3); 

	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
	    -ms-transition: all 0.5s ease-out;
	     -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out
}
a.press:hover{
	cursor: pointer
}
a.press:active {
	top: 3px;
	padding-bottom: 7px;
	-webkit-box-shadow: inset 0 0px 0 rgba(0,0,0,0.3);
	   -moz-box-shadow: inset 0 0px 0 rgba(0,0,0,0.3);
			box-shadow: inset 0 0px 0 rgba(0,0,0,0.3);
}
.blue {
	background: #2797E8
}
.orange {
	background: #E47707
}
.green {
	background: #006113
}
.pink {
	background: #D107C9
}
.red {
	background: #D1070A
}
.violet {
	background: #8702B8
}
.seagreen {
	background: #02B8B3
}
.yellow {
	background: #D6B806
}
.gray {
	background: #898989
}
.media-heading{
	color: #2E2E2C
}