.nav-bar ul>li {
	text-decoration: none;
	display: inline
}
.profile-pic{
	width: 20px;
	height: 20px
}
.profile{
	width: 210px;
	padding-bottom: 20px
}
.profile-heading{
	padding-bottom: 20px
}
.list-group-item.active{
	font-color: white
}
.media{
	border-bottom: 1px dashed gray;
	padding-bottom: 10px;
}
.media:last-child{
	border: none
}
img.media-object{
	border-radius: 50%;
	width: 100%;
	height: auto
}
.chum-list{
	border-bottom: 1px dashed grey;
}
#chum_request{
	-webkit-transition: background-color .25s ease-out;
	   -moz-transition: background-color .25s ease-out;
	    -ms-transition: background-color .25s ease-out;
	     -o-transition: background-color .25s ease-out;
	        transition: background-color .25s ease-out;
	display: inline-block
}
#chum_request:hover{
	background-color: #B86A07;
}
.pages{
	margin: 0 auto;
	text-align: center
}
.pagination > li > a {
	color: #2E2E2C
}