.nav-bar ul>li {
	text-decoration: none;
	display: inline;
}

.profile-pic{
	width: 20px;
	height: 20px
}
.profile{
	width: 210px;
	padding-bottom: 20px
}
.profile-heading{
	padding-bottom: 20px
}
.fname{
	margin-right: 10px
}